{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off"
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint"
}
